---
addons:
  postgresql: '9.3'
services:
  - elasticsearch
  - rabbitmq
  - redis-server
install:
  - sudo pip install -r requirements.txt
env:
  global:
    - "PYPI_HOST=pypi.vandelay.io"
    - "PYPI_INDEX=/balanced/prod/+simple/"
    - "PYPI_USERNAME=omnibus"
    - secure: "uH4OPBvgY4sYNpUssIC6WKulfAx2vgnO+a5XFtzjlJ8vZ1YhRWA2PCcvbDRZvu0Bk6uecCApBvVu/dllVa/bl15Lyzp+RQ0XAOJIPQlwvBxI95OAKmG9hXb/KaUiHBRKOEttJmKOmxwqWnSvzTaR4XYfcGZ8cPmZAV+z46axp1k="
before_script:
  - ansible-galaxy install -r requirements.yml -p `pwd`/roles --ignore-errors
script:
  - ansible-playbook --syntax-check -i local.inventory knox.yml
  - ansible-playbook --syntax-check -i local.inventory precog.yml
